@import "Css/Colors.scss";

.final-report-actionable-table :global {
  .ant-table-content {
    height: auto;
  }
  .ant-table-fixed {
    table-layout: fixed !important;
  }

  .ant-table-empty {
    .ant-table-body {
      overflow: hidden !important;
    }
  }

  .ant-table-thead > tr > th {
    height: 64px;
  }

  .text {
    width: 70%;
    font-weight: normal;
    font-size: 16px;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: $title_color;
    margin-left: 4px;
  }
  .label-custom-style {
    padding-left: 12px;
  }
}
