@import "Css/Colors.scss";

.classification-history-wrapper :global {
  width: 100%;
  height: auto;
  border-bottom: 1px solid $border_color;
  overflow: hidden !important;

  .classification-history-title {
    margin-bottom: 12px;
    text-align: left;
    font-weight: normal;
    font-size: 18px;
    color: $title_color;
  }

  .ant-table-wrapper {
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;

    &.classification-history-table-wrapper {
      .ant-table-content {
        max-height: 300px !important;
        .ant-table-scroll {
          overflow: hidden !important;
          -webkit-transition: all 0.4s ease-in-out;
          -moz-transition: all 0.4s ease-in-out;
          transition: all 0.4s ease-in-out;
        }
      }
      &.with-scroll {
        height: 300px;
        max-height: 300px !important;
        overflow-y: auto !important;
      }
    }
    .ant-table-body {
      overflow-y: scroll !important;
      &.with-scroll {
        overflow-y: hidden !important;
      }
    }
  }
}
