.notes-wrapper :global {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;
  width: 100%;
  height: 100%;
  padding: 9px;

  .notes-content-empty {
  }

  .notes-content {
  }

  .icon-edit {
  }

  .edit-text-box {
  }
}
