@import "Css/Colors.scss";

.notes-wrapper :global {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;
  width: 100%;
  height: 100%;
  min-width: 250px;
  padding: 9px;
  font-weight: normal;
  font-size: 16px;
  color: $neutral_30;
  cursor: pointer;

  .notes-content-empty {
    width: 100%;
    height: 100%;
  }

  .notes-content {
    width: 80%;
    cursor: default;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: $title_color;
  }

  .notes-icon {
    line-height: 4px;
  }

  .ant-form-explain {
    padding-left: 8px;
  }
}
