@import "Css/Colors.scss";

.variant-page-header-wrapper :global {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  z-index: 0;
  width: 100%;
  height: 100%;

  .left-data-wrapper {
    flex: 3 10 750px;
    height: 100%;

    .left-data {
      display: grid;
      width: 100%;
      grid-template-columns: minmax(210px, 350px) minmax(210px, 350px) minmax(
          210px,
          350px
        );
      grid-auto-rows: minmax(auto, 48%);
      grid-gap: 10px;
      height: 100%;
      padding: 30px 57px;

      .gene {
        padding: 10px;
      }
    }
  }

  .right-data {
    flex: 5 1 300px;
    align-items: center;

    transform: translate(0px, 0px);
    transition: 0.4s ease;

    &.sidebar-open {
      transform: translate(-175px, 0px);
    }
  }
}
