@import "Css/Colors.scss";

.highlighted-cell :global {
  height: 100%;
  width: 100%;

  .inner {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;

    &.highlighted {
      background-color: $table-highlighted-row;
    }

    &:not(.no-padding) {
      padding: 0 0 0 15px;
    }
  }
}
