@import "Css/Colors.scss";

.variant-page-wrapper :global {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  z-index: 0;
  width: 100%;
  height: 100vh;

  .links-wrapper {
    display: flex;
    height: 100%;
    z-index: 2;
    transition: 0.4s ease;
    transform: translate(-155px, 0px);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;

    &.links-wrapper-open {
      transition: 0.4s ease;
      transform: translate(0px, 0px);
    }
  }

  .main-wrapper {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    width: 100vw;
    height: 100%;
    z-index: 0;
    transition: 0.4s ease;
    transform: translate(-155px, 0px);
    margin-right: 20px;

    &.links-wrapper-open {
      transition: 0.4s ease;
      transform: translate(0px, 0px);
    }
    .main-header-data {
      display: flex;
      height: 120px;
      background-color: $white;
      box-shadow: 0 2px 3px 1px #dae1e680;
    }

    .main-data {
      display: flex;
      justify-content: flex-start;
      flex-direction: column;

      .history {
        display: flex;
        padding: 30px 40px 15px;
        max-height: 450px;
        overflow: hidden;
      }

      .evidence {
        display: flex;
        height: 100px;
      }
    }
  }
}
