@import "Css/Colors.scss";

.select-non-active-wrapper :global {
  width: 200px;
  height: 54px;
  background: none;
  display: flex;
  flex-direction: column;
  border: $brand_primary_color 1px solid;
  border-radius: 5px;

  .select-non-active-title {
    margin: 2px 0 4px;
    font-weight: 600;
    font-size: 22px;
    line-height: 100%;
    text-align: center;
    color: $neutral_30;
  }

  .select-non-active-class {
    display: flex;
    justify-content: center;
    align-items: baseline;
    width: 100%;
    height: 100%;

    span {
      font-size: 20px;
      line-height: 100%;
      color: $neutral_30;
    }
  }
}
