@import "Css/Colors.scss";

.header-wrapper :global {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  height: 100%;
  background-color: $title_color;
  font-style: normal;
  font-size: 16px;
  text-align: left;

  .left-wrapper {
    width: 319px;
    margin-left: 1em;
  }

  .right-wrapper {
    width: auto;
    margin-right: 20px;
  }
}
