@import "Css/Colors.scss";

.number-variants-wrapper :global {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  text-align: right;
  color: $title_color;
  padding: 4px 24px 4px 12px;
}
