@import "../../css/Colors";

.main-page :global {
  display: flex;
  justify-content: flex-start;
  z-index: 0;
  width: 100%;
  height: 100vh;

  .arrow {
    border: solid black;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 2px;
    margin-right: 11px;
  }
  .right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }
  .down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }

  .main-content-wrapper {
    background-color: #eceaea;
    display: flex;
    width: 100vw;
    height: 100%;
    z-index: 0;
    transition: 0.4s ease;
    transform: translate(-166px, 0px);

    &.sidebar-open {
      transition: 0.4s ease;
      transform: translate(0px, 0px);
    }
  }

  .sidebar-wrapper {
    display: flex;
    width: 192px;
    height: 100%;
    z-index: 2;
    transition: 0.4s ease;
    transform: translate(-166px, 0px);

    &.sidebar-open {
      transition: 0.4s ease;
      transform: translate(0px, 0px);
    }
  }
}
