.filter-item-wrapper :global {
  .tag {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin-right: 10px;
  }
  .checkbox-inner-content {
    padding-top: 2px;
  }
  .ant-radio-wrapper-checked {
    .item-label {
      font-weight: bold;
    }
  }
  .ant-radio {
    display: none;
  }
  .anticon {
    margin-right: 11px;
  }

  .ant-checkbox-wrapper {
    align-items: center;

    .ant-checkbox-inner::after {
      top: 47%;
      left: 20%;
    }

    .ant-checkbox {
      padding-top: 3px;
    }
  }
}
