$border_color: #dae1e6;
$icon_color: #424d55;
$title_color: #424d55;
$subtitle_color: #96a2aa;
$brand_primary_color: #0e8ce6;
$brand_primary_hover_color: #1378c0;
$neutral_30: #96a2aa;
$neutral_hover_30: #778690;
$neutral_10: #e7eef2;
$white: #fff;
$error-message: #f73f3f;
$error-message-hover: #ca1717;
$error-background: #fff2f3;
$button-disabled: #b7ddf7;
$list-single_hover: #f2f6f8;
$filter-list-item: #f2f6f8;
$table-header-bg: #f2f6f8;
$table-body-bg: $white;
$table-selected-row: #f4fcff;
$panel-filled: #22b36e;
$textarea-background: #e6f8ff;
$select-option-selected: #F2F6F8;
$select-option-hovered: #E7EEF2;
