@import "Css/Colors.scss";

.variant-table-wrapper :global {
  .activity-icon-wrapper {
    cursor: pointer;
    position: relative;
    .icon:hover {
      padding: 2px 4px 0 4px;
      background: #e7eef2;
      border-radius: 4px;
    }
    .icon:active {
      background: #0e8ce6;
      border-radius: 4px;
      path {
        fill: #fff;
      }
    }
  }
  .activity-icon-wrapper__disabled {
    cursor: not-allowed;
    svg {
      opacity: 0.5;
    }
  }
  .active-log-details {
    position: absolute;
    z-index: 9;
    right: 98px;
    top: -8px;
    min-width: 320px;
    max-height: 121px;
    overflow-y: -webkit-paged-y;
    overflow-y: overlay;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
    border-radius: 4px;
    background: #fff;
    .record {
      max-height: 40px;
      border-bottom: 1px solid #dae1e6;
      background: #fff;
      svg {
        height: 27px;
      }
      .record__user {
        min-width: 84px;
      }
      .record_changed-item {
        min-width: 90px;
        text-align: center;
        //padding-left: 20px;
      }
      .record_time {
        min-width: 146px;
        text-align: center;
        font-size: 14px;
        color: $neutral_30;
      }
    }
    .divider {
      border-right: 1px solid $border_color;
      height: 18px;
    }
    .record__item {
      padding: 10px 7px;
      //border: 1px dashed red;
      .user-name {
        margin-left: 11px;
        margin-right: 11px;
      }
    }
  }
}
