@import "Css/Colors.scss";

.gene-type-wrapper :global {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  height: 100%;
  padding-right: 4vw;
  align-items: center;

  .gene-type-radio-group {
    display: flex;
    width: 100%;
    justify-content: flex-end;
  }
  //.gene-type-text{
  //  display: flex;
  //  align-items: center;
  //  font-weight: 600;
  //  font-size: 22px;
  //  line-height: 100%;
  //  color: $neutral_30;
  //}
}
