@import "Css/Colors.scss";

.confirmation-table :global {
  .ant-table-empty {
    .ant-table-body {
      overflow: hidden !important;
    }
  }

  .remover-cell {
    position: relative;
    padding-right: 27px;

    span {
      white-space: nowrap;
    }

    button {
      position: absolute;
      right: 0px;
      top: 50%;
      transform: translateY(-50%);
      width: 26px;
      height: 26px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 5px;
      border: none;
      background-color: rgba(0, 0, 0, 0);
      cursor: pointer;

      &:active,
      &:focus {
        outline: none;
      }
      &::-moz-focus-inner {
        border: 0;
      }

      &,
      * {
        transition: all 0.15s;
      }

      img {
        opacity: 0.5;
      }
      &:hover {
        background-color: $border_color;
        img {
          opacity: 1;
        }
      }

      display: none;
    }
  }

  .ant-table-row:hover {
    .remover-cell {
      button {
        display: flex;
      }
    }
  }
}
