@import "Css/Colors.scss";

.expanded-interpretation-wrapper :global {
  display: flex;
  width: 100%;
  height: auto;
  overflow-y: scroll;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

  .textarea-wrapper {
    min-width: 300px;
    min-height: 300px;

    textarea {
      resize: none !important;
      font-weight: normal;
      font-size: 16px;
      line-height: 21px;
      color: $title_color;
      margin-top: 6px;

      &.ant-input {
        height: 225px !important;
        max-height: 225px !important;
        overflow-y: scroll !important;
      }
    }
  }
}
