@import "Css/Colors.scss";

.final-report-page-wrapper :global {
  .main-content {
    overflow-y: scroll;
    padding: 0 36px;
    //max-width: 1470px;
    height: 93vh;

    .select-variants-wrapper {
      display: flex;
      width: 94vw;
      justify-content: flex-end;
    }

    .add-actionable-details-container-button-text {
      display: flex;
      width: 100%;
      justify-content: center;
      font-style: normal;
      font-weight: 600;
      font-size: 18px;
      text-align: center;
      color: $white;
    }

    .final-report-variants {
      border: 3px dashed green;
      margin-top: 20px;
    }
    .final-report-upper-table {
      width: 100%;
      padding: 10px;
    }
    flex: 4 1;
  }
  .sidebar {
    display: flex;
    flex-direction: column;
    border: 2px solid red;
    min-width: 320px;
    width: 320px;

    .sidebar-content-wrapper {
      width: 70%;

      button {
        margin: 26px 0 0 12px;
      }
    }
  }
  .moveToActionabilitiesBtn {
    background-color: #1890ff;
    color: #fff;
    margin-bottom: 20px;
  }
}
