.final-report-page-wrapper :global {
  .main-content {
    border: 1px solid violet;
    //width: 1470px;
    padding: 100px;
  }
  .sidebar {
    border: 2px solid red;
    //width: 320px;
    padding: 100px;
  }

  border: 2px solid blue;
}
